<!--Exportiert den Inhalt nach templateMain.html-->
{% extends "templateMain.html" %}

<!-- block content startet hier! -->
{% block content %} {% if request.user.is_authenticated %} {% for message in
chat_messages %}
<div class="chat-record">
	<span class="color-gray">[ {{ message.created_at }} ]</span>
	<i>{{ message.author }}</i>: {{ message.text }}
</div>
{% endfor %}

<!-- Textfield with Floating Label -->
<form action="/chat/" method="POST">
	{% csrf_token %}
	<!-- Generiert einen token-->
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input
			name="messagefield"
			class="mdl-textfield__input"
			type="text"
			id="sample3"
		/>
		<label class="mdl-textfield__label" for="sample3">Text...</label>
	</div>

	<button
		class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
	>
		Send
	</button>
</form>

{% else %}

<h1>Not logged in!</h1>
<p>
	You are not logged in. Please log in.<br />
	Please follow the Link for <a href="/login/">Login</a>.
</p>

{% endif %} {% endblock %}
