<!--Exports the content to base.html-->
{% extends "base.html" %}

<!-- block content starts here! -->
{% block content %} {% if request.user.is_authenticated %}

<script>
	/*
	async function sendMessage() {
		let form = new FormData();
		let djangoToken = "{{ csrf_token }}";
		form.append("messagefield", messagefield.value); // append = anhängen
		form.append("csrfmiddlewaretoken", djangoToken);

		try {
			messageContainer.innerHTML += `
			<div id="messagePreview">
				<span class="color-gray">[Datum]</span>
				<i class="color-gray">{{ request.user.first_name }}:</i> <div class="color-gray">${messagefield.value}</div>
			</div>
			`;
			await fetch("/chat/", {
				method: "POST",
				body: form,
			});

			document.getElementById("messagePreview").remove();
			messageContainer.innerHTML += `
			<div>
				<span class="color-gray">[Datum]</span>
				<i>{{ request.user.first_name }}:</i> <div>${messagefield.value}</div>
			</div>
			`;
			
			console.log("Send message succes!");
		} catch (e) {
			console.error("FAIL send message!", e);
		}
	}
	*/
</script>

<div id="messageContainer">
	{% for message in chat_messages %}
	<div>
		<span class="color-gray">[ {{ message.created_at }} ]</span>
		<i>{{ message.author }}</i>: {{ message.text }}
	</div>
	{% endfor %}
</div>

<!-- Textfield with Floating Label request.user.first_name -->
<form
	class="form-style"
	onsubmit="sendMessage(request.user.first_name); return false;"
	method="POST"
>
	<!-- action="/chat/" changed with onsubmit="sendMessage(); return false;"-->
	{% csrf_token %}
	<!-- Generates a token-->
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input
			name="messagefield"
			class="mdl-textfield__input"
			type="text"
			id="messagefield"
		/>
		<label class="mdl-textfield__label" for="messagefield">Text...</label>
	</div>

	<button
		class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
		type="submit"
	>
		Send
	</button>
</form>

{% else %}

<h1>Not logged in!</h1>
<p>
	You are not logged in. Please log in.<br />
	Please follow the Link for <a href="{% url 'login_user' %}">Login</a>.
</p>

{% endif %} {% endblock %}
