<!--Exportiert den Inhalt nach base.html-->
{% extends "base.html" %}

<!-- block content startet hier! -->
{% block content %} {% if request.user.is_authenticated %}
<!-- prettier-ignore -->
{% for message in chat_messages %}
<div class="chat-record">
	<span class="color-gray">[ {{ message.created_at }} ]</span>
	<i>{{ message.author }}</i>: {{ message.text }}
</div>
{% endfor %}

<script>
	async function sendMessage() {
		let form = new FormData();
		let djangoToken = '{{ csrf_token }}';
		form.append("messagefield", messagefield.value); // append = anhängen
		form.append("csrfmiddlewaretoken", djangoToken);

		try {
			await fetch("/chat/", {
				method: "POST",
				body: form,
			});
			console.log("Send message succes!");
		} catch (e) {
			console.error("FAIL send message!", e);
		}
	}
</script>

<!-- Textfield with Floating Label -->
<form onsubmit="sendMessage(); return false;" method="POST">
	<!-- action="/chat/" ausgetauscht mit onsubmit="sendMessage(); return false;"-->
	{% csrf_token %}
	<!-- Generiert einen token-->
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input
			name="messagefield"
			class="mdl-textfield__input"
			type="text"
			id="messagefield"
		/>
		<label class="mdl-textfield__label" for="messagefield">Text...</label>
	</div>

	<button
		class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
	>
		Send
	</button>
</form>

{% else %}

<h1>Not logged in!</h1>
<p>
	You are not logged in. Please log in.<br />
	Please follow the Link for <a href="/login/">Login</a>.
</p>

{% endif %} {% endblock %}
