.chat-record {
	margin-bottom: 50px;
}
.color-gray {
	color: rgba(0, 0, 0, 0.4);
}
.page-content {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.mdl-layout__header .mdl-layout__drawer-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.demo-card-wide.mdl-card {
	width: 512px;
}
.demo-card-wide > .mdl-card__title {
	color: #fff;
	height: 176px;
}
.demo-card-wide > .mdl-card__menu {
	color: #fff;
}
