<!--Exportiert den Inhalt nach base.html-->
{% extends "base.html" %}

<!-- block content startet hier! -->
{% block content %}

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
	<div class="mdl-card__title">
		<h1 class="mdl-card__title-text">Login</h1>
	</div>

	{% if wrongPassword %}
	<p>Wrong Password.</p>
	{% endif %}

	<div class="mdl-card__supporting-text">
		<form method="POST" action="/login/">
			{% csrf_token %}

			<input type="hidden" name="redirect" value="{{ redirect }}" />

			<div
				class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
			>
				<input
					class="mdl-textfield__input"
					type="text"
					id="sample3"
					name="username"
				/>
				<label class="mdl-textfield__label" for="username"
					>Username...</label
				>
			</div>

			<div
				class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
			>
				<input
					class="mdl-textfield__input"
					type="text"
					id="sample3"
					name="password"
				/>
				<label class="mdl-textfield__label" for="username"
					>Password...</label
				>
			</div>

			<div>
				<button
					class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
				>
					Login
				</button>
			</div>
		</form>
	</div>

	<div class="mdl-card__actions mdl-card--border">
		<a
			class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
		>
			Registartion
		</a>
	</div>
</div>

{% endblock %}
