{% extends "base.html" %} {% block content %}

<div class="demo-card-wide mdl-card mdl-shadow--2dp">
	<div class="mdl-card__title">
		<h1 class="mdl-card__title-text">Registry</h1>
	</div>

	<!-- {% if form.errors %}
	<p>An Error of your Form appeared.</p>
	{% endif %} -->

	<div class="mdl-card__supporting-text">
		<form method="POST" action="{% url 'registry' %}">
			{% csrf_token %} {{ form.as_p }}
			<!-- <input type="hidden" name="redirect" value="{{ redirect }}" /> -->

			<!-- <div class="div-row">
				<div
					class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
				>
					<input
						class="mdl-textfield__input"
						type="text"
						id="username"
						name="username"
					/>
					<label class="mdl-textfield__label" for="username"
						>Username...</label
					>
				</div>

				<div
					class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
				>
					<input
						class="mdl-textfield__input"
						type="text"
						id="email"
						name="email"
					/>
					<label class="mdl-textfield__label" for="email"
						>Email...</label
					>
				</div>
			</div>

			<div class="div-row">
				<div
					class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
				>
					<input
						class="mdl-textfield__input"
						type="text"
						id="first-name"
						name="first-name"
					/>
					<label class="mdl-textfield__label" for="first-name"
						>First name...</label
					>
				</div>

				<div
					class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
				>
					<input
						class="mdl-textfield__input"
						type="text"
						id="last-name"
						name="last-name"
					/>
					<label class="mdl-textfield__label" for="last-name"
						>Last name...</label
					>
				</div>
			</div>

			<div class="div-row div-highlight">
				<div
					class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
				>
					<input
						class="mdl-textfield__input"
						type="password"
						id="password"
						name="password"
					/>
					<label class="mdl-textfield__label" for="password"
						>Password...</label
					>
				</div>

				<div
					class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
				>
					<input
						class="mdl-textfield__input"
						type="password"
						id="password-repeat"
						name="password-repeat"
					/>
					<label class="mdl-textfield__label" for="password-repeat"
						>Password repeat...</label
					>
				</div>
			</div> -->

			<!-- <div> -->
			<button
				class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent btn-registry"
			>
				Sign in
			</button>
			<!-- </div> -->
		</form>
	</div>

	<div class="mdl-card__actions mdl-card--border">
		<a
			class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
			href="{% url 'login' %}"
		>
			Back to Login
		</a>
	</div>
</div>

{% endblock%}
